/* Mobile Responsive Styles */
@media only screen and (max-width: 600px) {
  .container {
    height: auto;
    padding: 2rem;
  }
  
  #input-text {
    box-shadow: none;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  #submit-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}

/* Stylesheet with Updated Colors and UI */
body {
  background-color: #7149C6;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#input-text {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(15, 4, 22, 0.7);
  background-color: #FFDEB9;
  color: #000000;
}

#submit-button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: #FC2947;
  color: #FE6244;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(15, 4, 22, 0.7);
  transition: background-color 0.2s;
}

#submit-button:hover {
  background-color: #FE6244;
}